fastapi==0.110.0
uvicorn==0.29.0
SQLAlchemy==2.0.28
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
pandas==2.2.1
python-dotenv==1.0.1
python-multipart==0.0.9
pydantic==2.6.4
pytest==8.1.1
pytest-cov==4.1.0
